<form action="answer" method="get" accept-charset="UTF-8">
  <label for="question">Speak with the Mashallah Coach</label>
  <input type="text" name="question" id="question">
  <input class="btn btn-primary" type="submit" value="Ask!">
</form>
